.day3 {
  &__artistName {
    color: white;

    &__firstRow {
      color: white;
      font-size: 25px;
      display: inline;
      padding-left: 10px;
    }
    &__secondRow {
      color: white;
      font-size: 19px;
      display: inline;
      padding-left: 10px;
    }
    &__thirdRow {
      color: white;
      font-size: 16px;
      display: inline;
      padding-left: 10px;
    }
    &__fourthRow {
      color: white;
      font-size: 13px;
      display: inline;
      padding-left: 10px;
    }
    &__fifthRow {
      color: white;
      font-size: 13px;
      display: inline;
      padding-left: 10px;
    }
    &__sixthRow {
      color: white;
      font-size: 13px;
      display: inline;
      padding-left: 10px;
    }
    &__seventhRow {
      color: white;
      font-size: 13px;
      display: inline;
      padding-left: 10px;
    }
  }
}
