.day1 {
  line-height: 20px;
  padding-top: 20px;
  &__interpunct {
    text-align: left;
    color: orangered;
    line-height: 20px;

    &__firstRow {
      text-align: left;
      color: orangered;
      font-size: 36px;
      display: inline;
      padding-left: 5px;
      line-height: 20px;
    }

    &__secondRow {
      text-align: left;
      color: orangered;
      font-size: 30px;
      display: inline;
      padding-left: 5px;
      line-height: 20px;
    }
    &__thirdRow {
      text-align: left;
      color: orangered;
      font-size: 25px;
      display: inline;
      padding-left: 5px;
      line-height: 20px;
    }

    &__fourthThroughSeventhRow {
      text-align: left;
      color: orangered;
      font-size: 20px;
      display: inline;
      padding-left: 5px;
      line-height: 20px;
    }

  }
  &__artistName {
    color: white;
    margin-bottom: 0%;

    &__firstRow {
      color: white;
      font-size: 25px;
      display: inline;
      padding-left: 10px;
    }
    &__secondRow {
      color: white;
      font-size: 19px;
      display: inline;
      padding-left: 10px;
    }
    &__thirdRow {
      color: white;
      font-size: 16px;
      display: inline;
      padding-left: 10px;
    }
    &__fourthRow {
      color: white;
      font-size: 13px;
      display: inline;
      padding-left: 10px;
    }
    &__fifthRow {
      color: white;
      font-size: 13px;
      display: inline;
      padding-left: 10px;
    }
    &__sixthRow {
      color: white;
      font-size: 13px;
      display: inline;
      padding-left: 10px;
    }
    &__seventhRow {
      color: white;
      font-size: 13px;
      display: inline;
      padding-left: 10px;
    }
  }
}
